@import "@/assets/styles/variables.scss";

.color-menu {
  @extend %flex-center;

  .color-menu__text {
    color: $blue-text;
    font-size: 16px;
    margin-right: 30px;
  }

  .color-menu__list {
    @extend %flex-center;
    flex-wrap: wrap;
  }
}
