@import "@/assets/styles/variables.scss";

.menu-tag {
  width: 325px;
  background-color: $backg-form-white;
  padding: 30px;
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 10;

  .menu-tag__list {
    display: flex;
    flex-direction: column;

    .menu-tag__item {
      @extend %flex-center-between;
      margin-bottom: 7px;

      &:last-child {
        margin-bottom: 0;
      }

      &:hover {
        .menu-tag__btn {
          display: block;
        }
      }

      .menu-tag__btn {
        display: none;

        .menu-tag__icon {
          cursor: pointer;
          font-size: 20px;
          margin-right: 17px;

          &:last-child {
            margin-right: 0;
          }

          &.menu-tag__icon_edit {
            color: $green;
          }

          &.menu-tag__icon_del {
            color: $red;
          }
        }
      }
    }
  }
}
