@import "@/assets/styles/variables.scss";

.input {
  background-color: transparent;
  color: $white;
  font-weight: 300;
  padding: 8px 5px;

  &.input_error {
    &::placeholder {
      color: $red !important;
    }
  }

  &::placeholder {
    font-weight: 300;
    font-size: 16px;
    color: $white;
    opacity: 1;
    border-style: none;
  }

  &:focus-visible {
    border-style: none;
  }
}
