@import "@/assets/styles/variables.scss";

.radio-button {
  cursor: pointer;

  .radio-button__external {
    @extend %flex-center-center;

    width: 20px;
    height: 20px;
    border: 2px solid $backg-circle-grey;
    border-radius: 50px;

    .radio-button__internal {
      width: 14px;
      height: 14px;
      background-color: $green;
      border-radius: 50px;
    }
  }
}
